<h1>Votes</h1>

<% Award.all.each do |a| %>
  <p><%= a.title %></p>
  <% a.teams.award_vote_count(a.id).each do |team| %>
    Name: <p><%= team.name %></p>
    Count: <p><%= team.vote_count %></p>
  <% end %>
<% end %>